@import "tailwindcss";

@theme {
    --color-neon-blue: #00F3FF;
    --color-neon-pink: #BC13FE;
    --color-neon-magenta: #FF00FF;
    --color-neon-void: #0B0E14;
    --color-neon-grid: #1A1F2B;

    --font-heading: 'Inter', sans-serif;
    --font-pixel: 'Press Start 2P', cursive;
    --font-serif: 'Crimson Text', serif;

    --shadow-neon-blue: 0 0 10px rgba(0, 243, 255, 0.5), 0 0 20px rgba(0, 243, 255, 0.3);
    --shadow-neon-pink: 0 0 10px rgba(188, 19, 254, 0.5), 0 0 20px rgba(188, 19, 254, 0.3);

}

@layer base {
    body {
        background-color: #f3f0e6;
        color: #433422;
        font-family: var(--font-serif);
        margin: 0;
    }

    button:not(:disabled) {
        cursor: pointer;
    }
}

/* Scrollbars - Classic style */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #8c7b64;
    border-radius: 2px;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* 动态中心展开下划线 (需父级为 group relative) */
    .underline-center {
        @apply absolute bottom-0 left-1/2 w-0 h-[1.5px] bg-current transition-all duration-300 group-hover:w-full group-hover:left-0 pointer-events-none;
    }
}